img {
  width: 300px;
  border-radius: 5px;
}

.card {
  width: 300px;
  background-color: blanchedalmond;
  padding: 0px 10px 0px 10px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  box-shadow: 10px 10px 10px lightgrey;
}

.description {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 0px 10px 0px 10px;
  margin: 10px 0px 10px 0px;
}

.fact {
  font-style: italic;
}

ul {
  padding-left: 0px;
}

li {
  list-style-type: none;
}

.info {
  font-weight: bold;
}
